h1{
    color:#cc6b20;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


    }

body{
   
    color:#cc6b20; 
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:5px solid#797100;
    border-style: dashed;
    font-size: 1.25em;
    font-weight: 525;
    margin: 20px;
    padding:40px;
    background-color: #f1f0eb;

}
    
img{
    border: #245d33 3px solid;
    }

img:hover{

border: #d4dcd4

}


a{
    color: #134e22;
}

a:hover{
    color:#837900;

}

h2{
    color:#ec2f0c;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
